html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

input {
  border: 0;
  font-size: 24px;
  outline: none;
  padding: 6px;
  width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid gray;
  border-left: 0;
  border-right-width: 0;
  padding: 6px;
  width: 50%;
}

.cell-with-input {
  padding: 0;
}

td:first-child {
  border-right-width: 1px;
}

textarea {
  border: 0;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

.phrasebook {
  height: 100vh;
}