html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  font-family: sans-serif;
  outline: none;
}

input {
  border: 0;
  font-size: 24px;
  outline: none;
  padding: 6px;
  width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid gray;
  border-left: 0;
  border-right-width: 0;
  padding: 6px;
  width: 50%;
}

td:first-child {
  border-right-width: 1px;
}

.button {
  border: 0;
  background: black;
  color: white;
  cursor: pointer;
  line-height: 1;
  font-size: 24px;
  height: 33px;
  margin: 0 3px 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 33px;
}