html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

input {
  border: 0;
  font-size: 24px;
  outline: none;
  padding: 6px;
  width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid lightgray;
  border-left: 0;
  border-right-width: 0;
  padding: 6px;
  width: 50%;
}

td:first-child {
  border-right-width: 1px;
}

textarea {
  border: 0;
  border-top: 1px solid lightgray;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 6px;
  resize: none;
  width: 100%;
}

textarea:last-child {
  border-left: 1px solid lightgray;
}

textarea::-webkit-input-placeholder {
  color: gray;
}

textarea:focus,
textarea:focus::-webkit-input-placeholder {
  background: dimgray;
  color: white;
}

small {
  border-top: 1px solid lightgray;
  color: lightgray;
  display: block;
  font-size: 32px;
  padding-top: 6px;
  text-align: center;
}

.full-height {
  height: 100vh;
}

.flex {
  display: flex;
}