html {
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

input {
  border: 0;
  border-bottom: 1px solid lightgray;
  font-size: 24px;
  outline: none;
  padding: 6px;
  width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr:nth-child(odd) {
  background: whitesmoke;
}

td {
  border: 0;
  padding: 6px;
  width: 50%;
  word-wrap: break-word;
}

td:first-child {
  border-right: 1px solid lightgray;
}

textarea {
  border: 0;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 6px;
  resize: none;
  width: 100%;
}

textarea:first-child {
  border-right: 1px solid lightgray;
}

textarea::-webkit-input-placeholder {
  color: gray;
}

textarea:focus {
  background: dimgray;
  border-color: dimgray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .75);
  color: white;
}

textarea:focus::-webkit-input-placeholder {
  color: lightgray;
}

small {
  color: lightgray;
  display: none;
  font-size: 32px;
  padding-top: 6px;
  text-align: center;
}

.mode--search small {
  display: block;
}

.mode--add table,
.mode--add input,
.mode--edit table,
.mode--edit input,
.mode--loading table,
.mode--loading input,
.mode--loading textarea {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none;
}

.mode--loading:after {
  background: white;
  content: "\231B";
  font-size: 24px;
  padding: 6px 6px 0 0;
  right: 0;
  top: 0;
  position: absolute;
}

.full-height {
  height: 100vh;
}

.flex {
  display: flex;
}