html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

input {
  border: 0;
  border-bottom: 1px solid lightgray;
  font-size: 24px;
  outline: none;
  padding: 6px;
  width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: lightgray;
  padding: 6px;
  width: 50%;
}

td:first-child {
  border-right-width: 1px;
}

textarea {
  border: 0;
  border-bottom: 1px solid lightgray;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 6px;
  resize: none;
  width: 100%;
}

textarea:last-child {
  border-left: 1px solid lightgray;
}

textarea::-webkit-input-placeholder {
  color: gray;
}

textarea:focus {
  background: dimgray;
  border-color: dimgray;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  color: white;
}

textarea:focus::-webkit-input-placeholder {
  color: lightgray;
}

small {
  color: lightgray;
  display: none;
  font-size: 32px;
  padding-top: 6px;
  text-align: center;
}

.mode--search small {
  display: block;
}

.mode--add table,
.mode--add input,
.mode--edit table,
.mode--edit input {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

.full-height {
  height: 100vh;
}

.flex {
  display: flex;
}